/*
#data-container{
  color: red;

}

.cp-text{ color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);}
  */

	#take-data{
	width: 850px;
	height: 300px;
	border: 3px solid lightgrey;
	margin-top:50px;;
	padding-top: 30px;
	}



body {

font-family: 'Poppins', sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
font-size: 1.5rem;

height: 100vh;
	width: 100%;
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}






 #header{
   border-style: dashed;

    color: #FFFEFB;
    font-style: normal;
    font-family: "Sans-serif";
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px #454b52;
		margin-top:20px;
		margin-bottom:1px;
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left:50px;
    text-align: center;

  }


/*

font-family: 'Share Tech', sans-serif;
color: white;
margin: 0;
width: 100vw;
height: 100vh;
background-color: #160C1B;




  #mincome {
    color: #FFFEFB;
  }

#monthly-income {
  background-color: yellow;
}


 */

#mincome{
text-align: center;
}


#allbuttons {
	margin-top: 20px;

}

#allbuttons1 {
position: absolute;

left: 30%;
}

#allbuttons2 {
position: absolute;
right: 30%;
left: 70%;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}


#monthly-income {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin:10px auto;
  padding: 5px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

::placeholder {
  color: #B0B0B0;
  font-family: 'Roboto', sans-serif;

}


#final{
	word-wrap: break-word;
	margin-top: 50px;
}


#fresult{
	padding-top: 50px;
}



















#butt {
  padding: 5px 10px;

  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
}

#res {
  padding: 5px 10px;

  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
}

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #160C1B;
    text-align: center;
    border-style: solid;
  }
