/*
#data-container{
  color: red;

}

.cp-text{ color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);}
  */

body {
  font-family: 'Share Tech', sans-serif;

    color: white;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #160C1B;

}

 #header{
   border-style: dashed;

    color: #FFFEFB;
    font-style: normal;
    font-family: "Sans-serif";
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px #454b52;

  }

  #mincome {
    color: #FFFEFB;
  }

#monthly-income {
  background-color: yellow;
}



#butt {
  padding: 5px 10px;

  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
}

#res {
  padding: 5px 10px;

  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
}

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #160C1B;
    text-align: center;
    border-style: solid;
  }
